/* You can add global styles to this file, and also import other style files */
@use './app/fonts/Embed-code/Embed.code.scss';

// Reset global para remover margens e paddings padrão do navegador
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        font-family:Embed,Arial, 'Times New Roman', Times, serif;
}

// Estilos para campos inválidos quando o formulário foi enviado
form.ng-submitted input.ng-invalid,
form.ng-submitted select.ng-invalid,
form.ng-submitted textarea.ng-invalid {
    border: 2px solid red;
}