section {
    display:flex;
    animation: aparecer 1s ease-out;
    height: 100vh;
}
@keyframes aparecer {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }

}

h1{
    text-align: center;
    margin-top: 40px;
}
p{
    text-align: center;
    margin: auto;
    width: 80%;
    margin-top: 8px;
    margin-bottom: 16px;
}

div{position: relative;
    margin: auto;
    display: block;
    width: auto;
    height: auto;
}

form {
    //background-color: rgb(175, 175, 175);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    height: auto;
}

label {
    margin-top: 20px;
}
input {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    border: solid 0px gray;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    background-color: rgb(252, 252, 252);
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgb(244, 244, 244);

    
}
select{
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    border: solid 0px rgb(185, 185, 185);
    background-color: rgb(244, 244, 244);
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    font-size: 1rem;
    margin-bottom: 20px;
}

textarea{
    width: 100%;
    height: 150px;
    font-size: 1rem;
    border: solid 0px rgb(185, 185, 185);
    background-color: rgb(244, 244, 244);
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);

}
button{
    margin-top: 16px;
    padding: 8px;
    border-radius: 8px;
    background-color: #AE1B2E;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}