//color = 2C612B; verde

//global styles
#Sobre {
    background-color: #2C612B;
    display: flex;
    
}

#logo {
    margin: auto;
}
div{
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
}

div p {
    color: white;
    width: 90%;
    margin: auto;
    
}
div h1{
    color: white;
}

 #image1 {
    border-radius: 20px
 }


// Versão para PC (Telas maiores que 768px)
@media (min-width: 1200px) {

    #Sobre{
    width: 100%;
    height:1000px;
    z-index: -10;
    animation: sobre 0.2s ease-out;
    }
    @keyframes sobre {
        from {
        transform: translateY(-1500px);
        z-index: -10;
        } to{
        transform: translateY(0);
        }
    }
    
    
    #logo {
        width: 40vw;
        height: 40vw;
        animation: slidein 0.5s ease-out;
    }
    @keyframes slidein {
        from {
        transform: translateX(100vw);
    }to {
        transform: translateX(0);
    }

        
    }

    #aprezentação {
        padding: 16px;
        width: 45vw;
        background-color: RGBA(0,0,0,0.05);
        border-radius: 20px;
        animation: apre 0.5s ease-out;
    }
    @keyframes apre {
        from {
        transform: translateX(-100vw);
    }to {
        transform: translateX(0);
    }

        
    }


    #image1 {
        width: 40vw;
        height: 30vw;
    }
}
// tablet
@media (max-width: 1200px) and (min-width: 769px) {

    #Sobre{
    width: 90%;
    height: calc(1000px + 50vw);
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: auto;
}

    #logo {
        width: 600px; 
        height: 600px;
    }
    #aprezentação {
        padding: 16px;
    }
    #image1 {
        width: 70vw;
        height: 60vw;
    }

    


}

// Versão para Celular (Telas até 768px)
@media (max-width: 768px) {

    #Sobre{
    width: 100%;
    height: calc(650px + 110vw);
    flex-wrap: wrap;

}

    #aprezentação {
        padding: 16px;
    }

    #logo {
        width: 100%; // Aumentei para 60vw para ficar mais visível no celular
        height: 100vw;
    }

    #image1 {
        width: 90vw;
        height: 80vw;
    }




}