
menu{
    background-color: #292929; // cor do menu
    height: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 10;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
ul li{
    margin: auto;
    margin-left: 18px;
    
}


ul li a{
    //font-family:Embed,Arial, 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(255, 255, 255);

}

.paginas{
    border: 0px solid rgba(255, 255, 255, 0.334); //
    background-color: #010c00;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    font-weight: bold;
}

.paginas:hover {
    background-color: #00660e;
}
a:hover{
    color: black;
}
